@font-face {
    font-family: 'MyFont';
    src: url('../font/font.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: #ddd;
    font-family: 'MyFont';
    background: url('../images/file.jpg')no-repeat center center;
}